.chatbot-navbar{
    background-color: #fff;
  min-height: 75vh;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  /* margin-top: 2rem; */
  margin: 1.5rem;
  border-radius: 3.66px;
}
.chat-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height: 70vh;
    margin-top: 3px;
    gap:10px;
    
}
.chat-left{
    background-color: #c5dae1;
    width:85%;
    height:100%;
    border-radius: 3.66px;
    
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat-right{
    background-color:  #c5dae1;
    width:15%;
    height:100%;
    border-radius: 3.66px;

}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0C7FDA;
    border-radius: 3.66px;
    padding:0.8rem;
    width:95%;
    margin: 0 auto 1rem auto;
}
.search {
    width: 100%;
   
}

.search input{
    width: 100%;
    font-size: 1.1rem;
    color:#000;
    background-color: #0C7FDA;
    border:none;
    outline:none;
    box-shadow: none;
    caret-color: transparent;
    
}

.search input::placeholder{
    color:white;
}
.search-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    height:20px;
    width: 30px;
}
.search-img i{
    rotate: calc(45deg);
    color:#fff;
}

.search-box.active{
    border:1px solid #333;
}

.new-add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C7FDA;
    margin: 1rem;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius:3.66px;
    gap:7px;
}

.new-chat-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C7FDA;
    margin: 1rem;
    padding: 10px;
    border-radius:3.66px;
}

.new-chat-show .delete-icon{
    color:#0C7FDA
}
.new-chat-show .delete-icon:hover{
    color:#000
}