.chatting-container {
  background-color: #fff;
  min-height: 75vh;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 1.5rem;
  border-radius: 3.66px;
}

.chatting-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-top: 3px;
  gap: 10px;
}

.chatting-main-panel {
  background-color: #c5dae1;
  width: 100%;
  height: 100%;
  border-radius: 3.66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatting-sidebar-panel {
  background-color: #c5dae1;
  width: 15%;
  height: 100%;
  border-radius: 3.66px;
}

.chatting-input-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0C7FDA;
  border-radius: 3.66px;
  padding: 0.8rem;
  width: 95%;
  margin: 0 auto 1rem auto;
}

.chatting-input-field {
  width: 100%;
}

.chatting-input-field input {
  width: 100%;
  font-size: 1.1rem;
  color: #000;
  background-color: #0C7FDA;
  border: none;
  outline: none;
  box-shadow: none;
  caret-color: transparent;
}

.chatting-input-field input::placeholder {
  color: white;
}

.chatting-send-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  height: 20px;
  width: 30px;
}

.chatting-send-icon i {
  rotate: 45deg;
  color: #fff;
}

.chatting-input-box.active {
  border: 1px solid #333;
}

.chatting-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C7FDA;
  margin: 1rem;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3.66px;
  gap: 7px;
}

.chatting-history-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0C7FDA;
  margin: 1rem;
  padding: 10px;
  border-radius: 3.66px;
}

.chatting-delete-btn {
  color: #0C7FDA;
}

.chatting-history-card .chatting-delete-btn {
    color: #fff;
}

.chatting-delete-btn:hover {
  color: #000;
}